<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block title %}
    {% endblock title %}

</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
          <div class="logo">JoeDuop</div>
          <ul>
            <li class="list-items">
                <a href="">Home</a>
            </li>
            <li class="list-items">
                <a href="">about</a>
            </li>
            <li class="list-items">
                <a href="">Contacts</a>
            </li>
          </ul>
        </div>
      </nav>

    <header class="header">
        <div class="my-container">
            <div class="cont">
                <h1>hello</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, nihil.</p>
                <div class="btns">
                    <button class="btn">
                        <a href="">signup</a>
                    </button>
                    <button class="btn">
                        <a href="">login</a>
                    </button>
                </div>
            </div>
            <img src="{% static 'img/woman.jpg' %}" alt="">
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>